// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  width: 100%;
  margin: 50px 0;
  font: {
    weight: bold;
    size: 2em;
  }
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  .menu_link {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: #EEE;
    border-radius: 5px;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}

