%h1 Business Model
#bmc
  %div{id: "partenaires", class: ["left", "bloc", "haut"]}
    .title Partenaires
  %div{class: ["left", "bloc_cont", "haut"]}
    %div{id: "activites", class: ["bloc", "demi"]}
    %div{id: "ressources", class: ["bloc", "demi"]}
  %div{id: "offre", class: ["left", "bloc", "haut"]}
  %div{class: ["left", "bloc_cont", "haut"]}
    %div{id: "relation", class: ["bloc", "demi"]}
    %div{id: "canaux", class: ["bloc", "demi"]}
  %div{id: "clients", class: ["left", "bloc", "haut"]}
  .clear
  %div{id: "couts", class: ["left", "bloc", "bas"]}
  %div{id: "revenus", class: ["left", "bloc", "bas"]}
  .clear